<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.odk.collect.audiorecorder">

    <application>
        <activity
            android:name=".recording.AudioRecorderActivity"
            android:label="Audio Recorder"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <service android:name=".recording.AudioRecorderService" />

    </application>

</manifest>
