<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may not
use this file except in compliance with the License. You may obtain a copy of
the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations under
the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.odk.collect.android" android:versionCode="2" android:versionName="1.1.0">
  <application android:icon="@drawable/notes" android:label="@string/app_name" android:theme="@android:style/Theme.Light">
  <activity android:label="@string/app_name" android:name=".activities.MainMenu">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".activities.FormEntry" android:label="@string/app_name" android:theme="@android:style/Theme.Light" />
    <activity android:name=".activities.InstanceChooser" android:label="@string/app_name"/>
    <activity android:name=".activities.InstanceChooserTabs" android:label="@string/app_name"/>
    <activity android:name=".activities.FormChooser" android:label="@string/app_name"/>
    <activity android:name=".activities.LocalFileManager" android:label="@string/app_name"/>
    <activity android:name=".activities.RemoteFileManager" android:label="@string/app_name"/>
    <activity android:name=".activities.FileManagerTabs" android:label="@string/app_name"/>
    <activity android:name=".activities.InstanceUploader" android:label="@string/app_name"/>
    <activity android:name=".activities.InstanceUploaderActivity" android:label="@string/app_name"/>
    <activity android:name=".prefs.GlobalPreferences" android:label="@string/app_name"/>
  <activity android:name=".activities.FormHierarchyActivity" android:label="@string/app_name"/>
  </application>
  <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.INTERNET"/>
  <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.ACCESS_SURFACE_FLINGER"/>
  <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-sdk android:minSdkVersion="3"></uses-sdk>
</manifest>
