<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/managed_configuration"
            tools:node="merge" />
    </application>
</manifest>