# This config and the the Gradle flags/opts are based on: https://circleci.com/docs/2.0/language-android/
# and https://support.circleci.com/hc/en-us/articles/360021812453

version: 2

references:
  android_config_small: &android_config_small
    working_directory: ~/work
    docker:
      - image: cimg/android:2025.09
    resource_class: small

  android_config: &android_config
    working_directory: ~/work
    docker:
      - image: cimg/android:2025.09
    resource_class: large

  android_config_large: &android_config_large
    working_directory: ~/work
    docker:
      - image: cimg/android:2025.09
    resource_class: xlarge

  gcloud_config: &gcloud_config
    working_directory: ~/work
    docker:
      - image: cimg/gcp:2025.01
    resource_class: small

jobs:
  compile:
    <<: *android_config
    steps:
      - checkout
      - restore_cache:
          keys:
            - compile-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - compile-
      - run:
          name: Copy gradle config
          command: mkdir -p ~/.gradle && cp .circleci/gradle.properties ~/.gradle/gradle.properties
      - run:
          name: Download Robolectric deps
          command: ./download-robolectric-deps.sh

      - run:
          name: Compile code
          command: ./gradlew assembleDebug

      - save_cache:
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper
          key: compile-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - save_cache:
          paths:
            - ~/work
          key: workflow-{{ .Environment.CIRCLE_WORKFLOW_ID }}

      - persist_to_workspace:
          root: ~/work
          paths:
            - collect_app/build/outputs/apk

  create_dependency_backup:
    <<: *android_config_small
    steps:
      - checkout
      - restore_cache:
          keys:
            - workflow-{{ .Environment.CIRCLE_WORKFLOW_ID }}
      - restore_cache:
          keys:
            - compile-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - compile-

      - run:
          name: Create Maven repo from dependencies
          command: ./gradlew cacheToMavenLocal
      - run:
          name: Compress Maven repo
          command: tar -cvzf maven.tar .local-m2
      - store_artifacts:
          path: maven.tar

  check_quality:
    <<: *android_config
    steps:
      - checkout
      - restore_cache:
          keys:
            - workflow-{{ .Environment.CIRCLE_WORKFLOW_ID }}
      - restore_cache:
          keys:
            - compile-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - compile-

      - run:
          name: Copy gradle config
          command: mkdir -p ~/.gradle && cp .circleci/gradle.properties ~/.gradle/gradle.properties

      - run:
          name: Run code quality checks
          command: ./gradlew pmd ktlintCheck checkstyle

      - run:
          name: Run Android lint
          command: ./gradlew lintDebug

  test_modules:
    <<: *android_config
    parallelism: 4
    steps:
      - checkout
      - restore_cache:
          keys:
            - workflow-{{ .Environment.CIRCLE_WORKFLOW_ID }}
      - restore_cache:
          keys:
            - test_modules-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - test_modules
            - compile-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - compile-

      - run:
          name: Copy gradle config
          command: mkdir -p ~/.gradle && cp .circleci/gradle.properties ~/.gradle/gradle.properties

      - run:
          name: Generate list of modules for this fork
          command: |
            cat .circleci/test_modules.txt | circleci tests split > .circleci/fork_test_modules.txt && \
            echo "Modules for this fork:" && \
            cat .circleci/fork_test_modules.txt

      - run:
          name: Run module unit tests
          command: |
            ./gradlew $(cat .circleci/fork_test_modules.txt | awk '{for (i=1; i<=NF; i++) printf "%s:testDebug ",$i}')

      - store_test_results:
          path: collect_app/build/test-results

      - save_cache:
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper
          key: test_modules-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}

  test_app:
    <<: *android_config
    parallelism: 4
    steps:
      - checkout
      - restore_cache:
          keys:
            - workflow-{{ .Environment.CIRCLE_WORKFLOW_ID }}
      - restore_cache:
          keys:
            - test_app-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - test_app-
            - compile-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - compile-

      - run:
          name: Copy gradle config
          command: mkdir -p ~/.gradle && cp .circleci/gradle.properties ~/.gradle/gradle.properties

      - run:
          name: Generate list of test classes
          command: .circleci/generate-app-test-list.sh

      - run:
          name: Generate list of tests for this fork
          command: |
            cat .circleci/collect_app_test_classes.txt | circleci tests split > .circleci/fork_test_classes.txt && \
            echo "Tests for this fork:" && \
            cat .circleci/fork_test_classes.txt && \
            echo "" && \
            echo "Will run command:" && \
            echo "./gradlew collect_app:testDebug $(cat .circleci/fork_test_classes.txt | awk '{for (i=1; i<=NF; i++) printf "--tests %s ",$i}')"

      - run:
          name: Run app unit tests
          command: |
            ./gradlew collect_app:testDebug $(cat .circleci/fork_test_classes.txt | awk '{for (i=1; i<=NF; i++) printf "--tests %s ",$i}')

      - store_artifacts:
          path: collect_app/build/reports
          destination: reports
      - store_test_results:
          path: collect_app/build/test-results

      - save_cache:
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper
          key: test_app-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}

  build_instrumented:
    <<: *android_config_large
    steps:
      - checkout
      - restore_cache:
          keys:
            - workflow-{{ .Environment.CIRCLE_WORKFLOW_ID }}
      - restore_cache:
          keys:
            - build_instrumented-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - build_instrumented-
            - compile-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - compile-

      - run:
          name: Copy gradle config
          command: mkdir -p ~/.gradle && cp .circleci/gradle-large.properties ~/.gradle/gradle.properties

      - run:
          name: Assemble connected test build
          command: ./gradlew assembleDebugAndroidTest

      - save_cache:
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper
          key: build_instrumented-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}

      - persist_to_workspace:
          root: ~/work
          paths:
            - collect_app/build/outputs/apk

  build_release:
    <<: *android_config
    steps:
      - checkout
      - restore_cache:
          keys:
            - workflow-{{ .Environment.CIRCLE_WORKFLOW_ID }}
      - restore_cache:
          keys:
            - compile-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - compile-

      - run:
          name: Copy gradle config
          command: mkdir -p ~/.gradle && cp .circleci/gradle.properties ~/.gradle/gradle.properties

      - run:
          name: Set up secrets.properties for Maps frameworks
          command: |
            if [[ -n "$GOOGLE_MAPS_API_KEY" ]]; then \
              echo "GOOGLE_MAPS_API_KEY=$GOOGLE_MAPS_API_KEY" >> secrets.properties
              echo "MAPBOX_ACCESS_TOKEN=$MAPBOX_ACCESS_TOKEN" >> secrets.properties
              echo "MAPBOX_DOWNLOADS_TOKEN=$MAPBOX_DOWNLOADS_TOKEN" >> secrets.properties
            fi

      - run:
          name: Assemble self signed release build
          command: ./gradlew assembleSelfSignedRelease

      - run:
          name: Check APK size hasn't increased
          command: |
            if [[ -n "$GOOGLE_MAPS_API_KEY" ]]; then \
              ./check-size.sh 23117869
            else
              ./check-size.sh 13900000
            fi

      - run:
          name: Copy APK to predictable path for artifact storage
          command: cp collect_app/build/outputs/apk/selfSignedRelease/*.apk selfSignedRelease.apk
      - store_artifacts:
          path: selfSignedRelease.apk

  test_smoke_instrumented:
    <<: *gcloud_config
    steps:
      - attach_workspace:
          at: /tmp/workspace

      - run:
          name: Authorize gcloud
          command: |
            if [[ "$CIRCLE_PROJECT_USERNAME" == "getodk" ]]; then \
              gcloud config set project api-project-322300403941
              echo $GCLOUD_SERVICE_KEY | base64 --decode > client-secret.json
              gcloud auth activate-service-account --key-file client-secret.json
            fi
      - run:
          name: Run integration tests
          command: |
            if [[ "$CIRCLE_PROJECT_USERNAME" == "getodk" ]]; then \
              echo "y" | gcloud beta firebase test android run \
              --type instrumentation \
              --app /tmp/workspace/collect_app/build/outputs/apk/debug/ODK-Collect-debug.apk \
              --test /tmp/workspace/collect_app/build/outputs/apk/androidTest/debug/ODK-Collect-debug-androidTest.apk \
              --device model=MediumPhone.arm,version=34,locale=en,orientation=portrait \
              --results-bucket opendatakit-collect-test-results \
              --directories-to-pull /sdcard --timeout 20m \
              --test-targets "package org.odk.collect.android.feature.smoke"
            fi
          no_output_timeout: 25m

  test_instrumented:
    <<: *gcloud_config
    steps:
      - attach_workspace:
          at: /tmp/workspace

      - run:
          name: Authorize gcloud
          command: |
            if [[ -n "$GCLOUD_SERVICE_KEY" ]]; then \
              gcloud config set project api-project-322300403941
              echo $GCLOUD_SERVICE_KEY | base64 --decode > client-secret.json
              gcloud auth activate-service-account --key-file client-secret.json
            fi
      - run:
          name: Run integration tests
          command: |
            echo "y" | gcloud beta firebase test android run \
              --type instrumentation \
              --num-uniform-shards=25 \
              --app /tmp/workspace/collect_app/build/outputs/apk/debug/ODK-Collect-debug.apk \
              --test /tmp/workspace/collect_app/build/outputs/apk/androidTest/debug/ODK-Collect-debug-androidTest.apk \
              --device model=MediumPhone.arm,version=34,locale=en,orientation=portrait \
              --results-bucket opendatakit-collect-test-results \
              --directories-to-pull /sdcard --timeout 20m \
              --test-targets "notPackage org.odk.collect.android.regression" \
              --test-targets "notPackage org.odk.collect.android.benchmark"
          no_output_timeout: 25m

workflows:
  version: 2
  pr:
    jobs:
      - hold_pr:
          type: approval
          filters:
            branches:
              ignore:
                - master
      - compile:
          requires:
            - hold_pr
      - check_quality:
          requires:
            - compile
      - test_modules:
          requires:
            - compile
      - test_app:
          requires:
            - compile
      - build_release:
          requires:
            - compile
      - build_instrumented:
          requires:
            - compile

  master:
    jobs:
      - compile:
          filters:
            branches:
              only:
                - master
      - check_quality:
          requires:
            - compile
      - test_modules:
          requires:
            - compile
      - test_app:
          requires:
            - compile
      - build_release:
          requires:
            - compile
      - build_instrumented:
          requires:
            - compile
      - test_smoke_instrumented:
          requires:
            - build_instrumented

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * 1-5"
          filters:
            branches:
              only:
                - master
    jobs:
      - compile
      - build_instrumented:
          requires:
            - compile
      - test_instrumented:
          requires:
            - build_instrumented

  release:
    jobs:
      - compile:
          filters:
            tags:
              only: /^v((20)[0-9]{2})\.\d+\.\d+$/ # matches semvers like v1.2.3
            branches:
              ignore: /.*/
      - create_dependency_backup:
          requires:
            - compile
          filters:
            tags:
              only: /^v((20)[0-9]{2})\.\d+\.\d+$/ # matches semvers like v1.2.3
            branches:
              ignore: /.*/

