<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.odk.collect.geo">

    <application>
        <activity
            android:name=".GeoPointActivity"
            android:theme="@style/Theme.MaterialComponents" />

        <activity
            android:name=".GeoPointMapActivity"
            android:theme="@style/Theme.MaterialComponents" />

        <activity
            android:name=".GeoPolyActivity"
            android:theme="@style/Theme.MaterialComponents" />
    </application>
</manifest>
