<?xml version="1.0" encoding="utf-8"?><!--
 Copyright (C) 2009 University of Washington Licensed under the Apache
License, Version 2.0 (the "License"); you may not use this file except in
compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
the specific language governing permissions and limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.odk.collect.android"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <!-- Dangerous permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Normal permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Removed in API 23 -->
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".application.Collect"
        android:allowBackup="true"
        android:icon="@drawable/notes"
        android:installLocation="auto"
        android:label="@string/collect_app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Collect">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".activities.FirstLaunchActivity" />
        <activity android:name=".activities.MainMenuActivity" />
        <activity
            android:name=".activities.ScannerWithFlashlightActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.FormEntryActivity"
            android:theme="@style/Theme.Collect.FormEntry"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.NotificationActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activities.DrawActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gdrive.GoogleDriveActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.InstanceChooserList" />
        <activity
            android:name=".activities.FillBlankFormActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activities.FormDownloadListActivity" />
        <activity
            android:name=".activities.DeleteSavedFormActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".gdrive.GoogleSheetsUploaderActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.InstanceUploaderListActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.InstanceUploaderActivity" />
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".configure.qr.QRCodeTabsActivity" />
        <activity
            android:name=".preferences.screens.ProjectPreferencesActivity"
            android:theme="@style/Theme.Collect.Settings" />
        <activity android:name=".activities.FormHierarchyActivity" />
        <activity android:name=".activities.ViewOnlyFormHierarchyActivity" />
        <activity
            android:name="org.odk.collect.geo.GeoPointActivity"
            android:theme="@style/Theme.Collect"
            tools:replace="android:theme" />
        <activity
            android:name="org.odk.collect.geo.GeoPointMapActivity"
            android:theme="@style/Theme.Collect"
            tools:replace="android:theme" />
        <activity
            android:name="org.odk.collect.geo.GeoPolyActivity"
            android:theme="@style/Theme.Collect"
            tools:replace="android:theme" />
        <activity android:name=".activities.FormMapActivity" />
        <activity android:name=".activities.BearingActivity" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".activities.CaptureSelfieActivity" />
        <activity android:name=".activities.WebViewActivity" />
        <activity android:name=".activities.CaptureSelfieVideoActivity" />

        <!-- Configure this key by setting GOOGLE_MAPS_API_KEY in collect_app/secrets.properties. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="android:value" /> <!-- integer/google_play_services_version -->

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <!--
             ******************External API, DO NOT CHANGE BEFORE DISCUSSING***********************
             * The providers and activities below are available for external applications to      *
             * integrate with and are actively in use. If one of these needs to change for some   *
             * reason, it needs to be placed on a deprecation path so users can adapt before the  *
             * change. If an activity needs to be renamed internally, use an activity-alias. If   *
             * the external API needs to be expanded, introduce carefully-named actions.          *
             **************************************************************************************
         -->

        <provider
            android:name=".external.FormsProvider"
            android:authorities="org.odk.collect.android.provider.odk.forms"
            android:exported="true" />
        <provider
            android:name=".external.InstanceProvider"
            android:authorities="org.odk.collect.android.provider.odk.instances"
            android:exported="true" />

        <activity-alias
            android:name=".activities.FormEntryActivity"
            android:targetActivity=".activities.FormEntryActivity"
            tools:ignore="AppLinkUrlError"
            android:exported="true">
        </activity-alias>

        <activity-alias
            android:name=".activities.InstanceChooserList"
            android:targetActivity=".activities.InstanceChooserList"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.odk.instance" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.FormChooserList"
            android:targetActivity=".activities.FillBlankFormActivity"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.odk.form" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.FormDownloadList"
            android:targetActivity=".activities.FormDownloadListActivity">
            <intent-filter>
                <action android:name="org.odk.collect.android.FORM_DOWNLOAD" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.odk.form" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.InstanceUploaderList"
            android:targetActivity=".activities.InstanceUploaderListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.InstanceUploaderActivity"
            android:targetActivity=".activities.InstanceUploaderActivity">
            <intent-filter>
                <action android:name="org.odk.collect.android.INSTANCE_UPLOAD" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.odk.instance" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashScreenActivity"
            android:targetActivity=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Enable Shortcuts for Command Actions -->
        <activity
            android:name=".external.AndroidShortcutsActivity"
            android:label="ODK Form"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Supports VIEW and EDIT actions for forms and instances (documented at
        https://docs.getodk.org/launch-collect-from-app/#using-a-uri-to-edit-a-form-or-instance).
        Do not use the activity directly as its name/package might change. -->
        <activity
            android:name=".external.FormUriActivity"
            android:noHistory="true"
            tools:ignore="AppLinkUrlError">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.odk.form" />
                <data android:mimeType="vnd.android.cursor.item/vnd.odk.instance" />
            </intent-filter>
        </activity>

    </application>
</manifest>
