<?xml version="1.0" encoding="utf-8"?><!--
 Copyright (C) 2009 University of Washington Licensed under the Apache
License, Version 2.0 (the "License"); you may not use this file except in
compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
the specific language governing permissions and limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.odk.collect.android">

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <!-- Dangerous permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- Normal permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Removed in API 23 -->
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!--
    for Maps v2 functionality, want:
    <uses-feature android:glEsVersion="0x00020000" android:required="false"/>
    uses-feature android:glEsVersion="0x00020000" android:required="false"
    BUT, the gl setting is not modified by the required parameter, so
    do not declare anything here - detect capabilities at runtime.
    -->

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".application.Collect"
        android:icon="@drawable/notes"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">
        <provider
            android:name=".provider.FormsProvider"
            android:authorities="org.odk.collect.android.provider.odk.forms"
            android:exported="true" />
        <provider
            android:name=".provider.InstanceProvider"
            android:authorities="org.odk.collect.android.provider.odk.instances"
            android:exported="true" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.MainMenuActivity"
            android:configChanges="locale|orientation|screenSize" />
        <activity
            android:name=".activities.ScannerWithFlashlightActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.FormEntryActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.odk.form" />
                <data android:mimeType="vnd.android.cursor.item/vnd.odk.instance" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NotificationActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activities.DrawActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.GoogleDriveActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.InstanceChooserList">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.odk.instance" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FormChooserList">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.odk.form" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FormDownloadList" />
        <activity
            android:name=".activities.FileManagerTabs"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.GoogleSheetsUploaderActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.InstanceUploaderList"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.InstanceUploaderActivity" />
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".preferences.PreferencesActivity" />
        <activity android:name=".preferences.AdminPreferencesActivity" />
        <activity android:name=".activities.ViewFormHierarchyActivity" />
        <activity android:name=".activities.EditFormHierarchyActivity" />
        <activity android:name=".activities.GeoPointActivity" />
        <activity
            android:name=".activities.GeoPointMapActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".activities.GeoPointOsmMapActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".activities.GeoShapeOsmMapActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".activities.GeoShapeGoogleMapActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".activities.GeoTraceOsmMapActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".activities.GeoTraceGoogleMapActivity"
            android:configChanges="orientation" />
        <activity android:name=".activities.BearingActivity" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Enable Shortcuts for Command Actions -->
        <activity
            android:name=".activities.AndroidShortcuts"
            android:label="ODK Form"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CaptureSelfieActivity" />
        <activity android:name=".activities.CaptureSelfieActivityNewApi" />

        <receiver
            android:name=".receivers.NetworkReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.odk.collect.android.FormSaved" />
            </intent-filter>
        </receiver>
        <!--
        Register AnalyticsReceiver and AnalyticsService to support background
        dispatching on non-Google Play devices.
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
        <!-- ... -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBS-JQ-dnaZ_8qsbvSyr_I3rTPFd5fJsYI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="android:value" /> <!-- integer/google_play_services_version -->

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="@bool/FIREBASE_CRASHLYTICS_ENABLED" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <activity
            android:name=".location.GeoActivity"
            android:configChanges="orientation"
            android:exported="true" />
        <activity android:name=".activities.WebViewActivity" />
        <activity android:name=".activities.CaptureSelfieVideoActivity" />
        <activity android:name=".activities.CaptureSelfieVideoActivityNewApi" />

        <!-- External apps can request form downloads -->
        <service
            android:name=".services.FormDownloadService"
            android:exported="true" />

        <receiver
            android:name=".tasks.sms.SmsSentBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.odk.collect.android.COLLECT_SMS_SEND_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".tasks.sms.SmsNotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.odk.collect.android.COLLECT_SMS_NOTIFICATION_ACTION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>