<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <!-- Disable Mapbox initializers to prevent them running on devices that don't support it -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.mapbox.common.MapboxSDKCommonInitializer"
                tools:node="remove" />

            <meta-data
                android:name="com.mapbox.maps.loader.MapboxMapsInitializer"
                tools:node="remove" />
        </provider>
    </application>

</manifest>
